#container{
    margin-bottom: 1125px;
}

img{
    margin-right: 715px;
    margin-bottom: -160px;
}


#img{
    margin-right: 715px;
}

#s{
    margin-right: 715px;
    margin-top: 160px;
}

#t{
    text-align: justify;
    margin-left: 385px;
    margin-bottom: -105px;
}